## lists in python 
 - similar to array in java but lists are hetrogenous

In [9]:
marks = [95,34,56,78.5]
print(marks)
student_info = ['kundan',99,'andhra']
print(student_info)
print(type(student_info))

[95, 34, 56, 78.5]
['kundan', 99, 'andhra']
<class 'list'>

In [4]:
marks[2]

56

In [5]:
len(marks)

4

In [10]:
print(student_info)
student_info[2]='ongole'
print(student_info)

['kundan', 99, 'andhra']
['kundan', 99, 'ongole']

### strings are immutable but lists are mutable

In [11]:
str = 'hello'
str[0] = 'k'

TypeError: 'str' object does not support item assignment

In [12]:
marks[2]=45
marks

[95, 34, 45, 78.5]

In [13]:
len(marks)

4

when you try to access out of list then it gives error

In [14]:
marks[4]

IndexError: list index out of range

### List Slicing

- list_name[start_idx : ending_idx : step]
- if you don't specify ending_idx it goes to len(list)
- ending_idx is not included
- step if not specified it is normally 1

In [25]:
marks = [99,34,56,78,85,21,34,56]
marks[1:4]

[34, 56, 78]

In [16]:
marks[1::2]

[34, 78, 21, 56]

- negative indexing in list

In [18]:
marks[-5:-1]

[78, 85, 21, 34]

In [20]:
marks[-1:]

[56]

In [21]:
marks[:-1]

[99, 34, 56, 78, 85, 21, 34]

In [23]:
marks[::-1] # reversing the list

[56, 34, 21, 85, 78, 56, 34, 99]

### list methods

In [36]:
print(marks)
marks.append(100) # always adds at the end
marks

[100, 56, 34, 96, 21, 85, 78, 56, 34, 99]

[100, 56, 34, 96, 21, 85, 78, 56, 34, 99, 100]

In [37]:
marks.insert(3,96)
marks

[100, 56, 34, 96, 96, 21, 85, 78, 56, 34, 99, 100]

In [38]:
print(marks)
marks.sort()
marks

[100, 56, 34, 96, 96, 21, 85, 78, 56, 34, 99, 100]

[21, 34, 34, 56, 56, 78, 85, 96, 96, 99, 100, 100]

In [39]:
marks.sort(reverse=True) # for descending order not for reversing the list 
marks

[100, 100, 99, 96, 96, 85, 78, 56, 56, 34, 34, 21]

In [47]:
marks = [99, 34, 56, 78, 85, 21, 34, 56, 100]

In [48]:
marks.reverse()
marks

[100, 56, 34, 21, 85, 78, 56, 34, 99]

In [43]:
fruits = ['banana','lichi','mango','apple']
fruits.sort()
fruits

['apple', 'banana', 'lichi', 'mango']

In [45]:
letters = ['a','ab','aa','a!','a$']
letters.sort()
letters

['a', 'a!', 'a$', 'aa', 'ab']

In [49]:
print(marks)
marks.remove(21) # remove first occurence of 21
marks

[100, 56, 34, 21, 85, 78, 56, 34, 99]

[100, 56, 34, 85, 78, 56, 34, 99]

In [50]:
marks.pop() # normally remove last element
marks

[100, 56, 34, 85, 78, 56, 34]