### Tuples 

- similar to list but this is immutable

In [1]:
tup = (23,45,22,'b.tech')
tup

(23, 45, 22, 'b.tech')

In [2]:
type(tup)

tuple

In [8]:
tup[2] # accessing the values

22

- to create a empty tuple

In [10]:
tup1 = ()
tup1

()

In [6]:
# if you have only 1 val in tup then 
tup2 = (23,)
tup2

(23,)

In [7]:
type(tup2)

tuple

In [11]:
# because if you don't use , then interpreter will take it as normal data-type
tup3 = (23)
type(tup3)

int

- changing the value gives you error

In [9]:
tup[2] = 34
tup

TypeError: 'tuple' object does not support item assignment

- same concept of slicing exist in tuple too

In [12]:
tup = (1,2,3,4,5)
tup[2:4]

(3, 4)

### methods in tuples

- index()
- count()

In [15]:
tup = (1,2,3,4,1,2,5,2)

tup.index(1)

0

In [16]:
tup.count(2)

3